version: '3.9'
networks:
  postgres:
  sparql:
volumes:
  bundle:
  git:
  graphviz:
  postgres:
  sparql:
services:
  spring:
    restart: always
    # To run from this source code instead of Docker hub,
    # disable "image:"" and enable "build:" below
    image: commonworkflowlanguage/cwlviewer:latest
    #build: .
    ports:
     - "8080:8080"
    networks:
     - postgres
     - sparql
    volumes:
     - type: volume
       source: bundle
       target: /data/bundle
     - type: volume
       source: git
       target: /data/git
     - type: volume
       source: graphviz
       target: /data/graphviz
    environment:
     - SPARQL_ENDPOINT=http://sparql:3030/cwlviewer/
     - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/cwlviewer
     - SPRING_DATASOURCE_USERNAME=sa
     - SPRING_DATASOURCE_PASSWORD=sa
     - BUNDLESTORAGE=/data/bundle
     - GITSTORAGE=/data/git
     - GRAPHVIZSTORAGE=/data/graphviz
  postgres:
    restart: always
    image: postgres:14-alpine
    networks:
     - postgres
    command: postgres -c listen_addresses='*' -c log_statement=all
    environment:
      - POSTGRES_USER=sa
      - POSTGRES_PASSWORD=sa
      - POSTGRES_DB=cwlviewer
      - PGDATA=/var/lib/postgresql/data/cwlviewer/
    volumes:
      - type: volume
        source: postgres
        target: /var/lib/postgresql/data
      - type: bind
        source: ./pg_hba.conf
        target: /var/lib/postgresql/data/pg_hba.conf
  sparql:
    restart: always
## For debugging, expose the Fuseki port by enabling:
#    ports:
#     - "3030:3030"
## To find the admin password, try:
##   docker compose exec sparql grep admin /fuseki/shiro.ini
    image: stain/jena-fuseki:3.4.0
    networks:
      - sparql
    volumes:
      - type: volume
        source: sparql
        target: /fuseki
      - type: bind
        source: ./start-jena.sh
        target: /start-jena.sh
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    command: "/start-jena.sh"
