<!DOCTYPE html>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main-20180518.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
    <div th:fragment="copy" id="footer" class="container">
        <div class="row">
            <hr />
            <div class="col-lg-12 muted text-center">
                <a href="https://github.com/common-workflow-language/cwlviewer" rel="noopener" target="_blank">CWL Viewer</a>
                &copy; 2016-2018 <a href="https://www.commonwl.org/" rel="noopener" target="_blank">Common Workflow Language Project</a>
                and <a href="https://github.com/orgs/common-workflow-language/people" rel="noopener" target="_blank">contributors</a>.
                Distributed under <a href="https://www.apache.org/licenses/LICENSE-2.0" rel="noopener" target="_blank">Apache License, version 2.0</a>
                (required <a href="https://github.com/common-workflow-language/cwlviewer/blob/master/NOTICE.md" rel="noopener" target="_blank">attribution notices</a>).                
               	<br />
                <span th:if="${workflow != null}">
                    <a th:href="@{${workflow.retrievedFrom.getUrl(workflow.lastCommit)}}" href="#" rel="noopener" target="_blank">Shown workflow</a> has separate copyright and license.
                </span>
                ([<a href="/about#privacy">Privacy policy</a>)
            </div>
        </div>
        <div class="row logos">
          <div class="col-lg-12 muted text-center">
            <a href="https://www.commonwl.org/" rel="noopener" target="_blank"><img src="/img/CWL-Logo-nofonts.svg"
              alt="Common Workflow Language"/></a>
            <a href="https://www.esciencelab.org.uk/" rel="noopener" target="_blank"><img src="/img/manchester.svg"
              alt="The University of Manchester"
              title="eScienceLab, School of Computer Science, The University of Manchester" /></a>
            <a href="https://bioexcel.eu/" rel="noopener" target="_blank"><img src="/img/BioExcel_logo_cropped.svg"
              alt="BioExcel" title="BioExcel Center of Excellence for Computational Biomolecular Research" /></a>
            <a href="https://cordis.europa.eu/projects/675728" rel="noopener" target="_blank"><img src="/img/Flag_of_Europe.svg"
              alt="EU" title="European Commision grant 675728" /></a>
          </div>
        </div>
    </div>
</body>
</html>
