<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Common Workflow Language Viewer</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet" />
    </head>
    <body>
        <div id="header">
            <h1>Common Workflow Language Viewer</h1>
        </div>
        <div id="container">
            <h2 id="formTitle">Workflow from Github URL</h2>
            <form id="add" action="#" th:action="@{/}" th:object="${workflowForm}" method="POST">
                <p class="error" th:if="${#fields.hasErrors('githubURL')}">
                    <i class="material-icons">error_outline</i>
                    <strong>Error:</strong>
                    <span th:errors="*{githubURL}">URL cannot be empty</span>
                </p>
                <label for="githubURL"><img id="githubLogo" src="/img/GitHub-Mark-32px.png" /></label>
                <input type="text" id="githubURL" name="githubURL" th:field="*{githubURL}" />
                <button type="submit">Parse Workflow</button>
            </form>
        </div>
        <div id="footer">
            Copyright here or links to <a href="http://commonwl.org">commonwl.org</a>, <a href="http://researchobject.org">researchobject.org</a> etc
        </div>
    </body>
</html>