<!DOCTYPE html>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Common Workflow Language Viewer</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <img id="logo" src="http://www.commonwl.org/CWL-Logo-Header.png"></img>
                    </a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12" role="main" id="main">
                    <h1>Common Workflow Language Viewer</h1>
                    <p>This tool visualises and lists the details of a workflow with its inputs, outputs and steps and
                        packages the files into a downloadable
                        <a href="https://researchobject.github.io/specifications/bundle/" rel="noopener" target="_blank">
                            Research Object Bundle</a>
                        (zip file with metadata in a manifest), allowing it to be easily viewed and shared.</p>
                    <p>This tool is currently experimental and may not work for all valid workflows.</p>

                    <h2>Workflow from Github URL</h2>
                    <p>Provide a link to the directory of files making up your workflow here, eg https://github.com/common-workflow-language/workflows/tree/master/workflows/lobSTR</p>
                    <form id="add" action="#" th:action="@{/}" th:object="${workflowForm}" method="POST">
                        <p class="error" th:if="${#fields.hasErrors('githubURL')}">
                            <i class="material-icons">error_outline</i>
                            <strong>Error:</strong>
                            <span th:errors="*{githubURL}">URL cannot be empty</span>
                        </p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Github URL" id="githubURL" name="githubURL" th:field="*{githubURL}" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Parse Workflow</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:include="fragments/footer :: copy" id="footer">Copyright text</div>
    </body>
</html>