<!DOCTYPE html>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Common Workflow Language Viewer</title>
        <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/main-20180518.css}" href="../static/css/main-20180518.css" />
    </head>
    <body>

        <nav th:replace="fragments/header :: navbar"></nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12" role="main" id="main">
                    <h1>Common Workflow Language Viewer</h1>
                    <p>This tool visualises and lists the details of a
                        <a href="http://www.commonwl.org/" rel="noopener" target="_blank">CWL workflow</a>
                        with its inputs, outputs and steps and
                        packages the files involved into a downloadable
                        <a href="https://researchobject.github.io/specifications/bundle/" rel="noopener" target="_blank">
                            Research Object Bundle</a>
                        (zip file with metadata in a manifest), allowing it to be easily viewed and shared.</p>
                    <div class="alert alert-info">
                        <p>Want to make your workflows look their best in CWL Viewer? Find out about <a href="/about">CWL recommended practices</a></p>
                    </div>

                    <hr/>

                    <h2>Workflow URL</h2>
                    <p>Provide a Github, Gitlab or Git repository link to the workflow (or directory of workflows) here</p>
                    <div class="alert alert-grey">
                        <strong>Don't know what to view?</strong> Try these from <i>common-workflow-language/workflows</i>:
                        <a class="example" href="https://github.com/common-workflow-language/workflows/tree/master/workflows/compile/compile1.cwl">compile</a>,
                        <a class="example" href="https://github.com/common-workflow-language/workflows/tree/master/workflows/make-to-cwl/dna.cwl">make-to-cwl</a>,
                        <a class="example" href="https://github.com/common-workflow-language/workflows/tree/lobstr-v1/workflows/lobSTR/lobSTR-workflow.cwl">lobSTR</a>
                        or <a href="/workflows">explore the collection</a>
                    </div>
                    <form id="add" action="#" th:action="@{/workflows}" th:object="${workflowForm}" method="POST">
                        <div class="alert alert-danger" th:if="${errors} != null and ${errors.hasErrors()}">
                            <div th:each="error : ${errors.getAllErrors()}">
                                <strong>Error:</strong> <span th:text="${error.getDefaultMessage()}">Error message here</span>
                            </div>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('url')}">
                            <strong>Error:</strong> <span th:errors="*{url}">Error message here</span>
                        </div>
                        <div id="urlGroup" class="form-group">
                            <label class="control-label" for="url">URL to workflow</label>
                            <input type="text" class="form-control" placeholder="Github, Gitlab or Git repository URL" id="url" name="url" th:field="*{url}" th:value="${formURL}" />
                            <span class="help-block"></span>
                        </div>
                        <div id="extraInputs" class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label" for="branch">Branch Name/Commit ID</label>
                                <input type="text" class="form-control" placeholder="Branch Name or Commit ID" name="branch" id="branch" />
                                <span class="help-block"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label" for="path">Path to Workflow</label>
                                <input type="text" class="form-control" placeholder="/path/to/workflow.cwl" name="path" id="path" />
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <button class="btn btn-primary pull-right" type="submit">Parse Workflow</button>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: copy"></div>

        <script src="/bower_components/requirejs/require.js" data-main="/js/main.js"></script>
    </body>
</html>
