<!DOCTYPE html>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@commonwl" />
    <meta name="twitter:title" th:content="${'CWL Workflow: ' + workflow.label}" />
    <meta name="twitter:description" th:if="${workflow.doc != null}" th:content="${workflow.doc}" />
    <meta name="twitter:image" th:content="@{${workflow.getVisualisationPng()}}" />
    <title th:text="${workflow.label + ' - Common Workflow Language Viewer'}">Common Workflow Language Viewer</title>
    <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main-20180518.css}" href="../static/css/main-20180518.css" />
</head>
<body>

<nav th:replace="fragments/header :: navbar"></nav>

<!-- Modal for viewing DOT graph -->
<div class="modal fade" id="dotGraph" tabindex="-1" role="dialog" aria-labelledby="dotGraphLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dotGraphLabel">Workflow DOT Graph</h4>
            </div>
            <div class="modal-body">
                <h4 id="modalTitle">Dot File Source:</h4>
<textarea id="dot" class="form-control" rows="15" th:field="${workflow.visualisationDot}">
digraph G {
    graph [
        bgcolor="#eeeeee"
		color="black"
		fontsize="10"
		labeljust="left"
		clusterrank="local"
		ranksep="0.22"
		nodesep="0.05"
	];
    node [
	    fontname="Helvetica"
		fontsize="10"
		fontcolor="black"
		shape="record"
		height="0"
		width="0"
		color="black"
		fillcolor="lightgoldenrodyellow"
		style="filled"
    ];
    edge [
		fontname="Helvetica"
		fontsize="8"
		fontcolor="black"
		color="black"
        arrowsize="0.7"
    ];
    subgraph cluster_inputs {
        rank = same;
        style = "dashed";
        label = "Workflow Inputs";
        input1 [fillcolor="#94DDF4"];
        input2 [fillcolor="#94DDF4"];
        input3 [fillcolor="#94DDF4"];
    }
    subgraph cluster_outputs {
        rank = same;
        style = "dotted";
        label = "Workflow Outputs";
        output1 [fillcolor="#94DDF4"];
        output2 [fillcolor="#94DDF4"];
        output3 [fillcolor="#94DDF4"];
    }
    input1->step1->step4->output1;
    input2->step2->output2;
    input3->step3->output3;
}
</textarea>
                <a id="download-link-dot" href="" download="workflow.dot"></a>
                <button id="download-dot" class="btn btn-primary" type="button">Download dot File</button>
                <a th:href="@{${workflow.getVisualisationXdot()}}" href="#" download="graph.dot" class="btn btn-primary" type="button">Download xdot File</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal for viewing the graph in full screen -->
<div class="modal fade" id="fullScreenGraphModal" tabindex="-1" role="dialog" aria-labelledby="fullScreenGraphLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="fullScreenGraphLabel">Workflow Graph</h4>
            </div>
            <div class="modal-body">
                <span id="fullscreen-close" data-dismiss="modal" class="close glyphicon glyphicon-resize-small graphControl" data-tooltip="true" title="Close"></span>
                <object id="graphFullscreen" th:data="@{${workflow.getVisualisationSvg()}}" type="image/svg+xml">
                    <img th:src="@{${workflow.getVisualisationPng()}}" alt="fullscreen" />
                </object>
            </div>
        </div>
    </div>
</div>

<div class="container" role="main" id="main">
    <div class="row">
        <div class="col-md-12" >
            <h2>Workflow: <span th:text="${workflow.label}">Workflow Name</span></h2>
        </div>
        <div class="col-md-6">
            <a th:href="@{${workflow.retrievedFrom.getUrl()}}" href="#" rel="noopener" target="_blank" style="text-decoration:none;">
                <img th:if="${workflow.retrievedFrom.getType().name() == 'GITHUB'}" id="gitLogo" src="../static/img/GitHub-Mark-32px.png" th:src="@{/img/GitHub-Mark-32px.png}" width="24" height="24" />
                <img th:unless="${workflow.retrievedFrom.getType().name() == 'GITHUB'}" id="gitLogo" src="../static/img/gitlogo.png" th:src="@{/img/gitlogo.png}" width="30" height="30" />
            </a>
        <i>Fetched <span th:text="${{workflow.retrievedOn}}">2017-09-14 22:30:37 GMT</span></i>
          <span class="hidden-print hidden-sm hidden-xs">
                <span th:if="${workflow.roBundlePath == null}" id="ajaxRequired"></span>
            <span th:class="${workflow.roBundlePath != null} ? hide : ''" id="generating"> - Generating download link <img alt="loading" src="../static/img/loading.svg" th:src="@{/img/loading.svg}" width="20" height="20" /></span>
            <span th:class="${workflow.roBundlePath == null} ? hide : ''" id="generated">
                    - <a th:href="@{${workflow.getRoBundleLink()}}" id="download" href="#" download="bundle.zip">Download as Research Object Bundle</a>
                    <a href="http://www.researchobject.org/" rel="noopener" class="help" target="_blank" >[?]</a>
                </span>
          </span>
        </div>
        <div class="col-md-6 text-right hidden-xs">
            <img class="verification_icon" src="../static/img/tick.svg" th:src="@{/img/tick.svg}" width="20" height="22" /> Verified with cwltool version <samp th:text="${workflow.cwltoolVersion}">1.0.20170622090721</samp>
        </div>
        
        <div class="col-md-12" style="margin-top:5px;" th:if="${workflow.doc != null}">
            <p id="workflow-doc" th:text="${workflow.doc}">This workflow documentation explains the purpose of the workflow and the main techniques used. Steps are documented individually further down. This is just an example documentation for the template, real documentation might be even longer than this!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-6">
                <div class="permalink hidden-sm hidden-xs hidden-print">
                        Permalink:
                          <a href="https://w3id.org/cwl/view/" rel="noopener" class="help" target="_blank">[?]</a>
                          <a id="permalink" th:href="${workflow.permalink}" th:text="${workflow.permalink}"
                             href="#">https://w3id.org/cwl/view/git/933bf2a1a1cce32d88f88f136275535da9df0954/workflows/larger/test-hello.cwl</a>
                </div>
            
        </div>    
        <div class="col-lg-3 col-md-4 col-sm-6 hidden-xs">
            <div id="graph-menu hidden-print" class="pull-right">
                <button id="view-dot" class="hidden-print hidden-sm-down btn btn-primary" type="button" data-toggle="modal" data-target="#dotGraph">View DOT</button>
                <div class="btn-group hidden-print">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download Image <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="download-graph" th:href="@{${workflow.getVisualisationSvg()}}" download="graph.svg">As .svg</a></li>
                        <li><a id="download-graph" th:href="@{${workflow.getVisualisationPng()}}" download="graph.png">As .png</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="visualisation" class="jumbotron hidden-print">
                <span id="fullscreen-open" data-toggle="modal" data-target="#fullScreenGraphModal" data-tooltip="true" class="glyphicon glyphicon-resize-full graphControl" title="Expand"></span>
                <img id="selectChildren" class="graphControl" th:src="@{/img/children-logo.svg}" src="../static/img/children-logo.svg" alt="children" data-tooltip="true" title="Select All Children" />
                <img id="selectParents" class="graphControl" th:src="@{/img/parents-logo.svg}" src="../static/img/parents-logo.svg" alt="parents" data-tooltip="true" title="Select All Parents" />
                <div id="graph" data-th-attr="data-svgurl=@{${workflow.getVisualisationSvg()}}"></div>
            </div>
            <img alt="Workflow as SVG" src="../static/img/workflow-compile.svg" th:src="@{${workflow.getVisualisationSvg()}}" class="visible-print-block" />
            <ul class="legend">
                <li><span class="selectednode hidden-print"></span> Selected</li>
                <li class="hidden-xs">|</li>
                <li><span class="defaults"></span> Default Values</li>
                <li><span class="nestedworkflows"></span> Nested Workflows</li>
                <li><span class="tools"></span> Tools</li>
                <li><span class="inputoutputs"></span> Inputs/Outputs</li>
            </ul>
            <div th:if="${workflow.dockerLink != null}">
                <h2 style="float:left;">Requires: </h2>
                <a th:unless="${workflow.dockerLink == 'true'}" th:href="${workflow.dockerLink}" rel="noopener" target="_blank">
                    <img id="dockerLogo" th:src="@{/img/Docker-logo.png}" src="../static/img/Docker-logo.png" alt="docker logo" />
                </a>
                <img th:if="${workflow.dockerLink == 'true'}" id="dockerLogo" th:src="@{/img/Docker-logo.png}" src="../static/img/Docker-logo.png" alt="docker logo" />
            </div>
            <h2>Inputs</h2>
            <div th:if="${workflow.inputs.isEmpty()}" class="alert alert-info">
                <p>There are no inputs in this workflow</p>
            </div>
            <div th:unless="${workflow.inputs.isEmpty()}">
                <div class="table-responsive">
                    <table class="table table-striped table-hover input">
                        <thead>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Label</th>
                            <th>Doc</th>
                        </thead>
                        <tbody>
                            <tr th:each="input : ${workflow.inputs}">
                                <td class="id" th:text="${input.key}">ID</td>
                                <td class="type" >
                                    <a th:if="${input.value.format != null}" th:href="@{${input.value.format}}" th:text="${input.value.type}" target="_blank" rel="noopener">Type</a>
                                    <span th:if="${input.value.format == null}" th:text="${input.value.type}"></span>
                                </td>
                                <td class="label"  th:text="${input.value.label}">Label</td>
                                <td class="doc" >
                                    <p th:if="${input.value.doc != null}" th:utext="${#strings.replace( #strings.escapeXml(input.value.doc),T(java.lang.System).getProperty('line.separator')+T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;&lt;br /&gt;')}">Description might be a bit longer</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2>Steps</h2>
            <div th:if="${workflow.steps.isEmpty()}" class="alert alert-info">
                <p>There are no steps in this workflow</p>
            </div>
            <div th:unless="${workflow.steps.isEmpty()}">
                <div class="table-responsive">
                    <table class="table table-striped table-hover steps">
                        <thead>
	                        <th>ID</th>
	                        <th>Runs</th>
	                        <th>Label</th>
	                        <th>Doc</th>
                        </thead>
                        <tbody>
                        <tr th:each="step : ${workflow.steps}" th:with="workflowURL=@{${workflow.retrievedFrom.getUrl()}}">
                            <td class="id" th:text="${step.key}">ID</td>
                            <td class="run">
                                <div th:if="${step.value.runType != null}">
                                    <a th:if="${step.value.runType.name() == 'WORKFLOW'}" th:href="@{${step.value.run.replace('#', '%23')}}" th:text="${step.value.run}" class="subworkflow">workflow.cwl</a>
                                    <span th:unless="${step.value.runType.name() == 'WORKFLOW'}" th:text="${step.value.run}">cmdlinetool.cwl</span>
                                    (<span th:text="${step.value.runType}">Workflow</span>)
                                </div>
                                <div th:if="${step.value.run != null and step.value.runType == null}">
                                    <span th:text="${step.value.run} + ' (?)'" class="notFound" data-tooltip="true" title="Not Found - Must be somewhere within this repository">workflow.cwl (?)</span>
                                </div>
                            </td>
                            <td class="label" th:text="${step.value.label}">Label</td>
                            <td class="doc">
                                <p th:if="${step.value.doc != null}" th:utext="${#strings.replace( #strings.escapeXml(step.value.doc),T(java.lang.System).getProperty('line.separator')+T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;&lt;br /&gt;')}">Description might be a bit longer</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2>Outputs</h2>
            <div th:if="${workflow.outputs.isEmpty()}" class="alert alert-info">
                <p>There are no outputs in this workflow</p>
            </div>
            <div th:unless="${workflow.outputs.isEmpty()}">
                <div class="table-responsive">
                    <table class="table table-striped table-hover output">
                        <thead>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Label</th>
                            <th>Doc</th>
                        </thead>
                        <tbody>
                            <tr th:each="output : ${workflow.outputs}">
                                <td class="id" th:text="${output.key}">ID</td>
                                <td class="type">
                                    <a th:if="${output.value.format != null}" th:href="@{${output.value.format}}" th:text="${output.value.type}" target="_blank" rel="noopener">Type</a>
                                    <span th:if="${output.value.format == null}" th:text="${output.value.type}"></span>
                                </td>
                                <td class="label" th:text="${output.value.label}">Label</td>
                                <td class="doc">
                                    <p th:if="${output.value.doc != null}" th:utext="${#strings.replace(#strings.escapeXml(output.value.doc),T(java.lang.System).getProperty('line.separator')+T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;&lt;br /&gt;')}">Description might be a bit longer</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-print">
    	<div class="col-md-12 text-center" id="formats">
    	   <span th:each="format : ${formats}">    		
            <a th:id="|format-${format}|" role="button" class="btn btn-default btn-sm" th:href="${workflow.getPermalink(format.name())}" th:text="${format}"
                      href="#">html</a>
           </span>
        </div>
    </div>
    <div class="visible-print-block">
      <address>Permalink:
      	<code th:text="${workflow.permalink}">https://w3id.org/cwl/view/git/933bf2a1a1cce32d88f88f136275535da9df0954/workflows/larger/test-hello.cwl</code>
      </address>
    </div>        
</div>

<div th:replace="fragments/footer :: copy"></div>

<script src="/bower_components/requirejs/require.js" data-main="/js/workflow.js"></script>
</body>
</html>
