<!DOCTYPE html>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Common Workflow Language Viewer</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css" />
        <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>

        <nav th:replace="fragments/header :: navbar"></nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12" role="main" id="main">
                    <h1>All Workflows</h1>

                    <nav th:replace="fragments/pagination :: workflowControl"></nav>

                    <table class="table table-striped">
                        <tr>
                            <th>Graph</th>
                            <th>Name</th>
                            <th>Retrieved From</th>
                            <th>View</th>
                        </tr>
                        <tr th:each="workflow : ${workflows}" th:with="workflowURL=@{'/workflows/github.com/' + ${workflow.retrievedFrom.owner} + '/' + ${workflow.retrievedFrom.repoName} + '/tree/' + ${workflow.retrievedFrom.branch} + '/' + ${workflow.retrievedFrom.path}}">
                            <td>
                                <a th:href="${workflowURL}">
                                    <img th:src="@{'/workflows/' + ${workflow.id} + '/graph/svg'}" alt="workflow graph" />
                                </a>
                            </td>
                            <td th:text="${workflow.label}"></td>
                            <td>
                                <a th:href="@{'https://github.com/' + ${workflow.retrievedFrom.owner} + '/' + ${workflow.retrievedFrom.repoName} + '/tree/' + ${workflow.lastCommit} + '/' + ${workflow.retrievedFrom.path}}" rel="noopener" target="_blank">
                                    <img id="githubLogo" src="../static/img/GitHub-Mark-32px.png" th:src="@{/img/GitHub-Mark-32px.png}" width="20" height="20" />
                                    <span th:text="@{${workflow.retrievedFrom.owner} + '/' + ${workflow.retrievedFrom.repoName} + '/' + ${workflow.retrievedFrom.path}}"></span>
                                </a>
                            </td>
                            <td><a th:href="${workflowURL}"><span class="icon-view glyphicon glyphicon-chevron-right"></span></a></td>
                        </tr>
                    </table>

                    <nav th:replace="fragments/pagination :: workflowControl"></nav>

                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: copy"></div>

    </body>
</html>