
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Common Workflow Language Viewer</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css" />
        <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>

        <nav th:replace="fragments/header :: navbar"></nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12" role="main" id="main">
                    <h1>Explore Workflows</h1>
                    <p>View already parsed workflows here or <a href="/" alt="homepage">click here to add your own</a></p>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 40%;">Graph</th>
                                <th>Name</th>
                                <th>Retrieved From</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="workflow : ${workflows}" th:with="workflowURL=@{'/workflows/github.com/' + ${workflow.retrievedFrom.owner} + '/' + ${workflow.retrievedFrom.repoName} + '/tree/' + ${workflow.retrievedFrom.branch} + '/' + ${workflow.retrievedFrom.path}}">
                                <td>
                                    <a th:href="${workflowURL}">
                                        <img th:src="@{'/workflows/' + ${workflow.id} + '/graph/svg'}" alt="workflow graph" style="width:100%;"/>
                                    </a>
                                </td>
                                <td th:text="${workflow.label}"></td>
                                <td>
                                    <a th:href="@{'https://github.com/' + ${workflow.retrievedFrom.owner} + '/' + ${workflow.retrievedFrom.repoName} + '/tree/' + ${workflow.lastCommit} + '/' + ${workflow.retrievedFrom.path}}" rel="noopener" target="_blank">
                                        <img id="githubLogo" src="../static/img/GitHub-Mark-32px.png" th:src="@{/img/GitHub-Mark-32px.png}" width="20" height="20" />
                                        <span th:text="@{${workflow.retrievedFrom.owner} + '/' + ${workflow.retrievedFrom.repoName} + '/' + ${workflow.retrievedFrom.path}}"></span>
                                    </a>
                                </td>
                                <td><a th:href="${workflowURL}"><span class="icon-view glyphicon glyphicon-chevron-right"></span></a></td>
                            </tr>
                        </tbody>
                    </table>

                    <nav th:replace="fragments/pagination :: workflowControl"></nav>

                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: copy"></div>

    </body>
</html>